#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
  behaviors {
    /* 修飾キー用:
       短押し=文字、長押し=修飾 */
    modtap_hp: modtap_hp {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      bindings = <&kp>, <&kp>;
    };

    /* F長押しでナビ */
    f_nav_hold: f_nav_hold {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      hold-trigger-key-positions = <0 1 2 3 4 5 6 7 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29>;
      hold-trigger-on-release;
      bindings = <&mo>, <&kp>;
    };

    /* L位置キー長押しで記号 */
    l_sym_hold: l_sym_hold {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 24 25 26 27 28 29>;
      hold-trigger-on-release;
      bindings = <&mo>, <&kp>;
    };

    /* /? 長押しで数字レイヤー */
    slash_num_hold: slash_num_hold {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <200>;
      hold-trigger-on-release;
      bindings = <&mo>, <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";

    combo_op_p {
      timeout-ms = <40>;
      key-positions = <18 19>; /* O + P */
      bindings = <&kp P>;
    };

    combo_kl_l {
      timeout-ms = <40>;
      key-positions = <22 23>; /* K + L位置 */
      bindings = <&kp L>;
    };

    combo_fj_space {
      timeout-ms = <40>;
      key-positions = <8 21>; /* F + J */
      bindings = <&kp SPACE>;
    };

    combo_nslash_comma {
      timeout-ms = <40>;
      key-positions = <25 27>; /* N + /? */
      bindings = <&kp COMMA>;
    };

    combo_mslash_dot {
      timeout-ms = <40>;
      key-positions = <26 27>; /* M + /? */
      bindings = <&kp DOT>;
    };

    combo_qw_esc {
      timeout-ms = <40>;
      key-positions = <0 1>; /* Q + W */
      bindings = <&kp ESC>;
    };

    combo_aw_tab {
      timeout-ms = <40>;
      key-positions = <5 1>; /* A + W */
      bindings = <&kp TAB>;
    };

    combo_zw_caps {
      timeout-ms = <40>;
      key-positions = <10 1>; /* Z + W */
      bindings = <&kp CAPS>;
    };

    combo_ui_kana {
      timeout-ms = <40>;
      key-positions = <16 17>; /* U + I */
      bindings = <&kp LANG1>;
    };

    combo_er_eisu {
      timeout-ms = <40>;
      key-positions = <2 3>; /* E + R */
      bindings = <&kp LANG2>;
    };

    combo_lslash_gui {
      timeout-ms = <40>;
      key-positions = <23 27>; /* L位置 + /? */
      bindings = <&kp LGUI>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &modtap_hp LSHIFT Q         &kp W                    &kp E                 &kp R                 &kp T
        &kp A                       &kp S                    &kp D                 &f_nav_hold 3 F       &kp G
        &modtap_hp LCTRL Z          &modtap_hp LCTRL X       &modtap_hp LALT C     &modtap_hp LALT V     &kp B
        &kp Y                       &kp U                    &kp I                 &kp O                 &kp BSPC
        &kp H                       &kp J                    &kp K                 &l_sym_hold 1 ENTER   &kp ENTER
        &kp N                       &kp M                    &slash_num_hold 2 FSLH &kp SPACE            &kp C_MUTE
      >;

      /* 左回し=音量ダウン / 右回し=音量アップ */
      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };

    symbol_layer {
      bindings = <
        &kp LS(N1)                  &kp LS(N2)               &kp LS(N3)            &kp LS(N4)            &kp LS(N5)
        &kp LS(N8)                  &kp RBKT                 &kp LS(RBKT)          &trans                &kp APOS
        &kp LS(N9)                  &kp BSLH                 &kp LS(BSLH)          &kp SPACE             &kp INT3
        &kp LS(N6)                  &kp LS(EQUAL)            &kp LS(SEMI)          &kp MINUS             &kp LS(MINUS)
        &kp SEMI                    &trans                   &kp LS(APOS)          &kp LBKT              &trans
        &kp SPACE                   &kp LS(FSLH)             &kp LS(INT1)          &trans                &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };

    number_layer {
      bindings = <
        &kp N1                      &kp N2                   &kp N3                &kp DOT               &none
        &kp N4                      &kp N5                   &kp N6                &kp N0                &none
        &kp N7                      &kp N8                   &kp N9                &kp COMMA             &kp F10
        &kp F1                      &kp F2                   &kp F3                &kp F4                &kp F5
        &kp F6                      &kp F7                   &kp F8                &kp F9                &none
        &kp F11                     &kp F12                  &trans                &none                 &none
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };

    nav_layer {
      bindings = <
        &kp LG(LS(S))               &kp UP                   &trans                &trans                &trans
        &kp LEFT                    &kp DOWN                 &kp RIGHT             &kp HOME              &trans
        &kp INS                     &trans                   &trans                &trans                &trans
        &trans                      &mkp MB3                 &trans                &trans                &kp DEL
        &trans                      &mkp MB1                 &mkp MB2              &trans                &trans
        &trans                      &trans                   &trans                &trans                &trans
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
    };
  };
};
